*{
    padding: 0;
    margin:  0;
    box-sizing: border-box;
}
div{
    z-index: 2;
}
html,body{
    height: 100%;
    width: 100%;
}
video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 0;
}
header{
    height: 100%;
    width: 100%;
    display: flex;
    padding-left: 500px;
    padding-top: 500px;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
}
article{
    background: #00000073;
    color: #fff;
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 100px;
}
article p {
    width: 600px;
    margin: 0 auto;
    font-size: 26px;
}
.menu {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
    z-index: 3;
}

.menu div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
}

.menu div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
}

.menu div.logo a:hover {
    color: #86d9f5;
}

.menu div.menu2 {
    height: 65px;
    float: right;
}

.menu div.menu2 ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu div.menu2 ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.menu div.menu2 ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 2.4rem;
}

.menu div.menu2 ul li a:hover {
    color: #86d9f5;
}
.essay{
    width: auto;
    height: 176px;
    float:left;
    position: absolute;
    left: 400px;
    top: 90px;
    background-color: #00000073;
    border-radius: 7px;
}
.essaytext{
    display:inline-block;
    vertical-align: top;
}